$color1:#9EC050;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*:focus{
  outline:none;
}

a {
  color: white;

  &:hover {
    color: $color1;
    text-decoration: none;
  }
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}


.container {  
  @media (min-width: 1500px) {
    max-width: 1700px;
  }

}
