*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*:focus {
  outline: none;
}

a {
  color: white;
}

a:hover {
  color: #9EC050;
  text-decoration: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

@media (min-width: 1500px) {
  .container {
    max-width: 1700px;
  }
}

body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100vh;
  background-color: #242424;
}

header {
  padding: 10px 0;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

@media (max-width: 576px) {
  header .container {
    align-items: flex-end;
    flex-direction: column;
  }
}

header .logo {
  position: absolute;
  top: 0;
  left: -50px;
  z-index: 5;
  background-color: #242424;
  padding: 25px;
}

@media (max-width: 1800px) {
  header .logo {
    left: -15px;
  }
}

@media (max-width: 1400px) {
  header .logo {
    padding: 20px;
    left: -25px;
  }
}

@media (max-width: 576px) {
  header .logo {
    padding: 17px;
    left: -5px;
    top: 20px;
  }
}

header .logo img {
  width: 125px;
}

@media (max-width: 1400px) {
  header .logo img {
    width: 100px;
  }
}

@media (max-width: 576px) {
  header .logo img {
    width: 75px;
  }
}

@media (max-width: 400px) {
  header .logo img {
    width: 75px;
  }
}

@media (max-width: 992px) {
  header .navbar {
    display: none;
  }
}

header .navbar .dropdown-menu {
  background-color: #292929;
  transition: all 0.5s;
  display: block;
  opacity: 0;
  z-index: -1;
}

header .navbar .dropdown-menu a {
  color: #656565;
  padding-left: 10px;
}

header .navbar .dropdown-menu a:hover, header .navbar .dropdown-menu a:focus, header .navbar .dropdown-menu a:active {
  color: #9EC050;
  outline: none;
  background-color: transparent;
}

header .navbar .show {
  opacity: 1;
  z-index: 10;
}

header .navbar .nav-item {
  font-weight: 500;
  font-size: 18px;
  margin: 0 5px;
}

@media (max-width: 1400px) {
  header .navbar .nav-item {
    font-size: 13px;
    margin: 0 5px;
  }
}

@media (max-width: 992px) {
  header .social {
    padding: 10px 0;
  }
}

@media (max-width: 576px) {
  header .social {
    margin-right: 0 !important;
  }
}

header .social #sec-icon {
  text-align: center;
  font-size: 13px;
  margin: 0 5px;
  color: #555555;
  cursor: pointer;
  display: none;
}

@media (max-width: 992px) {
  header .social #sec-icon {
    display: block;
  }
}

header .social .social-icons {
  display: flex;
}

@media (max-width: 992px) {
  header .social .social-icons {
    display: none;
  }
}

header .social .social-item a {
  color: #555555;
  transition: all 0.5s;
  margin: 0 5px;
}

header .social .social-item a:hover {
  color: white;
}

@media (max-width: 1400px) {
  header .social .social-item a {
    font-size: 13px;
    margin: 0 3px;
  }
}

header #sec-items {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  opacity: 0;
  transition: all 0.7s;
  background-color: rgba(29, 29, 29, 0.9);
  z-index: 15;
  font-size: 1.5rem;
  color: white;
  overflow: hidden;
}

header #sec-items ul {
  display: flex;
  flex-direction: column;
}

header #sec-items ul .s {
  display: flex;
}

header #sec-items li {
  text-align: center;
  margin: 20px;
  font-size: 19px;
}

@media (max-width: 576px) {
  header #sec-items li {
    margin: 10px;
  }
}

header #sec-items a {
  color: white;
}

header #sec-items a:hover {
  color: #9EC050;
}

header #sec-items.show {
  width: 100% !important;
  height: 100vh !important;
  opacity: 1 !important;
}

header .control {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  header .control {
    margin-bottom: 15px;
  }
}

header .control .btn {
  border-radius: 0;
  border-color: #2c2c2c;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}

@media (max-width: 1400px) {
  header .control .btn {
    height: 30px;
    width: 30px;
    font-size: 10px;
  }
}

header .control form {
  width: 0;
  opacity: 0;
  transition: all 0.5s;
}

header .control form input {
  border-radius: 0;
  border-color: #2c2c2c;
  height: 0;
  width: 0;
  background-color: transparent;
  border: 1px solid #2c2c2c;
  padding-left: 10px;
  padding-right: 50px;
  transition: all 0.5s;
  display: none;
}

header .control form input:focus {
  outline: none;
}

header .control form.show {
  width: 200px;
  opacity: 1;
}

@media (max-width: 1400px) {
  header .control form.show {
    width: 150px;
  }
}

header .control form.show input {
  height: 36px;
  width: 200px;
}

@media (max-width: 1400px) {
  header .control form.show input {
    height: 30px;
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  header .control form.show input {
    width: 100%;
  }
}

main #slider-banner .container {
  position: relative;
}

main #slider-banner .container .swiper-button-prev,
main #slider-banner .container .swiper-button-next {
  color: white;
  background-color: #2e2e2e;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
  top: 50% !important;
}

main #slider-banner .container .swiper-button-prev:hover,
main #slider-banner .container .swiper-button-next:hover {
  background-color: #9EC050;
}

main #slider-banner .container .swiper-button-prev:focus,
main #slider-banner .container .swiper-button-next:focus {
  outline: none;
}

main #slider-banner .container .swiper-button-prev:after,
main #slider-banner .container .swiper-button-next:after {
  font-size: 14px;
}

@media (max-width: 630px) {
  main #slider-banner .container .swiper-button-prev,
  main #slider-banner .container .swiper-button-next {
    height: 35px;
    width: 35px;
  }
  main #slider-banner .container .swiper-button-prev:after,
  main #slider-banner .container .swiper-button-next:after {
    font-size: 11px;
  }
}

@media (max-width: 400px) {
  main #slider-banner .container .swiper-button-prev,
  main #slider-banner .container .swiper-button-next {
    height: 25px;
    width: 25px;
  }
  main #slider-banner .container .swiper-button-prev:after,
  main #slider-banner .container .swiper-button-next:after {
    font-size: 8px;
  }
}

main #slider-banner .container .swiper-button-prev {
  left: -40px;
}

@media (max-width: 1600px) {
  main #slider-banner .container .swiper-button-prev {
    left: -10px;
  }
}

@media (max-width: 992px) {
  main #slider-banner .container .swiper-button-prev {
    left: -40px;
  }
}

@media (max-width: 630px) {
  main #slider-banner .container .swiper-button-prev {
    left: -10px;
  }
}

@media (max-width: 400px) {
  main #slider-banner .container .swiper-button-prev {
    left: 0px;
  }
}

main #slider-banner .container .swiper-button-next {
  right: -40px;
}

@media (max-width: 1600px) {
  main #slider-banner .container .swiper-button-next {
    right: -10px;
  }
}

@media (max-width: 992px) {
  main #slider-banner .container .swiper-button-next {
    right: -40px;
  }
}

@media (max-width: 630px) {
  main #slider-banner .container .swiper-button-next {
    right: -10px;
  }
}

@media (max-width: 400px) {
  main #slider-banner .container .swiper-button-next {
    right: 0px;
  }
}

main #slider-banner .swiper-container {
  width: 100%;
  height: 850px;
}

@media (max-width: 1600px) {
  main #slider-banner .swiper-container {
    height: 700px;
  }
}

@media (max-width: 992px) {
  main #slider-banner .swiper-container {
    height: 550px;
  }
}

@media (max-width: 768px) {
  main #slider-banner .swiper-container {
    height: 450px;
  }
}

@media (max-width: 576px) {
  main #slider-banner .swiper-container {
    height: 300px;
  }
}

main #slider-banner .swiper-container .swiper-pagination-bullet {
  width: 1.5rem;
  height: 0.4rem;
  border-radius: 1rem;
}

main #slider-banner .swiper-container .swiper-pagination-bullet-active {
  background-color: white;
}

main #slider-banner .swiper-container .swiper-slide {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/slider/Layer 1@1X.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  justify-content: left;
  align-items: center;
}

main #slider-banner .swiper-container .swiper-slide .banner-text {
  text-align: left;
  flex-direction: column;
  color: white;
  margin-left: 150px;
  width: 40%;
}

@media (max-width: 992px) {
  main #slider-banner .swiper-container .swiper-slide .banner-text {
    margin-left: 50px;
    width: 60%;
  }
}

@media (max-width: 400px) {
  main #slider-banner .swiper-container .swiper-slide .banner-text {
    margin-left: 25px;
    width: 75%;
  }
}

main #slider-banner .swiper-container .swiper-slide .banner-text h2 {
  font-size: 50px;
  text-transform: capitalize;
  font-weight: 700;
}

@media (max-width: 1600px) {
  main #slider-banner .swiper-container .swiper-slide .banner-text h2 {
    font-size: 35px;
  }
}

@media (max-width: 992px) {
  main #slider-banner .swiper-container .swiper-slide .banner-text h2 {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  main #slider-banner .swiper-container .swiper-slide .banner-text h2 {
    font-size: 20px;
  }
}

main #slider-banner .swiper-container .swiper-slide .banner-text h4 {
  font-weight: 200;
  width: 85%;
  font-size: 22px;
}

@media (max-width: 992px) {
  main #slider-banner .swiper-container .swiper-slide .banner-text h4 {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  main #slider-banner .swiper-container .swiper-slide .banner-text h4 {
    font-size: 12px;
  }
}

main #about {
  padding: 150px 0;
}

@media (max-width: 576px) {
  main #about {
    padding: 30px 0;
  }
}

main #about .row {
  width: 90%;
}

@media (max-width: 768px) {
  main #about .row {
    width: 100%;
  }
}

main #about .about-head {
  background-image: url("../img/about/back.png");
  background-repeat: no-repeat;
  background-position-x: 24%;
}

@media (max-width: 1500px) {
  main #about .about-head {
    background-position-x: 0%;
    background-size: 35%;
  }
}

@media (max-width: 992px) {
  main #about .about-head {
    background-size: 30%;
  }
}

@media (max-width: 768px) {
  main #about .about-head {
    padding: 65px 0px;
  }
}

@media (max-width: 576px) {
  main #about .about-head {
    padding-top: 50px;
  }
}

@media (max-width: 400px) {
  main #about .about-head {
    padding-top: 40px;
  }
}

@media (max-width: 300px) {
  main #about .about-head {
    padding-top: 20px;
  }
}

main #about .about-head .text {
  width: 75%;
  color: white;
}

@media (max-width: 1500px) {
  main #about .about-head .text {
    width: 85%;
    font-size: 13px;
  }
}

@media (max-width: 1200px) {
  main #about .about-head .text {
    width: 85%;
    font-size: 10px;
  }
}

@media (max-width: 992px) {
  main #about .about-head .text {
    width: 90%;
    font-size: 10px;
  }
}

main #about .about-head .text img {
  width: 50%;
  margin-bottom: 20px;
}

@media (max-width: 1500px) {
  main #about .about-head .text img {
    width: 40%;
    margin-bottom: 10px;
  }
}

main #about .about-head .text p {
  color: #909090;
}

@media (max-width: 992px) {
  main #about .about-head .text p {
    margin-bottom: 5px;
  }
}

main #about .about-head .text a {
  color: #464646;
  font-style: italic;
}

main #about .about-img img {
  max-width: 100%;
}

main #services {
  margin-top: 200px;
  padding: 150px 0;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(44, 43, 43, 0.9), rgba(44, 43, 43, 0.9)), url("../img/services/Layer 6@1X.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
}

@media (max-width: 576px) {
  main #services {
    padding: 50px 0;
    margin-top: 25px;
  }
}

main #services .services-head h2 {
  font-weight: 800;
  text-align: center;
  font-size: 50px;
  margin-bottom: 0;
}

@media (max-width: 1550px) {
  main #services .services-head h2 {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  main #services .services-head h2 {
    font-size: 35px;
  }
}

@media (max-width: 400px) {
  main #services .services-head h2 {
    font-size: 23px;
  }
}

main #services .services-head h3 {
  font-weight: 400;
  text-align: center;
  font-size: 40px;
}

@media (max-width: 1550px) {
  main #services .services-head h3 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  main #services .services-head h3 {
    font-size: 25px;
  }
}

@media (max-width: 400px) {
  main #services .services-head h3 {
    font-size: 20px;
  }
}

main #services .services-body {
  justify-content: space-around;
  margin: auto;
  width: 90%;
  margin-top: 50px;
}

@media (max-width: 768px) {
  main #services .services-body {
    width: 100%;
  }
}

main #services .services-body .service {
  height: 300px;
  width: 300px;
  flex-direction: column;
  cursor: pointer;
  background-color: #24242480;
  transition: all 0.5s;
  margin-bottom: 20px;
}

@media (max-width: 1550px) {
  main #services .services-body .service {
    height: 200px;
    width: 200px;
  }
}

@media (max-width: 768px) {
  main #services .services-body .service {
    height: 150px;
    width: 150px;
    padding: 0rem 5px;
  }
}

main #services .services-body .service img {
  margin-bottom: 25px;
}

@media (max-width: 1550px) {
  main #services .services-body .service img {
    width: 25%;
  }
}

@media (max-width: 768px) {
  main #services .services-body .service img {
    width: 20%;
  }
}

@media (max-width: 1550px) {
  main #services .services-body .service h5 {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  main #services .services-body .service h5 {
    font-size: 14px;
  }
}

main #services .services-body .service:hover {
  background-color: #9EC050;
}

main #work {
  margin-top: 150px;
}

@media (max-width: 576px) {
  main #work {
    margin-top: 50px;
  }
}

main #work .work-head {
  text-align: center;
  color: white;
}

main #work .work-head h3 {
  font-size: 50px;
  margin: 50px;
  text-transform: uppercase;
  font-weight: 100;
}

@media (max-width: 1550px) {
  main #work .work-head h3 {
    font-size: 40px;
  }
}

@media (max-width: 992px) {
  main #work .work-head h3 {
    font-size: 30px;
    margin: 25px;
  }
}

@media (max-width: 768px) {
  main #work .work-head h3 {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  main #work .work-head h3 {
    font-size: 23px;
  }
}

main #work .work-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main #work .work-body .row {
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
  width: 90%;
}

@media (max-width: 768px) {
  main #work .work-body .row {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
}

main #work .work-body .row .project {
  text-align: center;
  position: relative;
  margin-bottom: 7px;
}

@media (max-width: 576px) {
  main #work .work-body .row .project {
    margin-bottom: 10px;
  }
}

main #work .work-body .row .project img {
  width: 99%;
  height: 500px;
}

@media (max-width: 1550px) {
  main #work .work-body .row .project img {
    height: 400px;
  }
}

@media (max-width: 992px) {
  main #work .work-body .row .project img {
    height: 300px;
  }
}

@media (max-width: 768px) {
  main #work .work-body .row .project img {
    height: auto;
    min-height: 100%;
  }
}

main #work .work-body .row .project .project-body {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
}

main #work .work-body .row .project .project-body:hover {
  opacity: 1;
}

main #work .work-body .row .project .project-body h4 {
  font-size: 27px;
  font-weight: 800;
}

@media (max-width: 576px) {
  main #work .work-body .row .project .project-body h4 {
    font-size: 20px;
  }
}

main #work .work-body .row .project .project-body h5 {
  font-size: 16px;
  font-weight: 300;
}

@media (max-width: 576px) {
  main #work .work-body .row .project .project-body h5 {
    font-size: 14px;
  }
}

main #work .work-body .row:nth-child(odd) > div:nth-child(1) {
  width: 60%;
}

main #work .work-body .row:nth-child(odd) > div:nth-child(2),
main #work .work-body .row:nth-child(odd) > div:nth-child(3) {
  width: 36%;
}

@media (max-width: 768px) {
  main #work .work-body .row:nth-child(odd) > div:nth-child(1) {
    width: 100%;
  }
  main #work .work-body .row:nth-child(odd) > div:nth-child(2),
  main #work .work-body .row:nth-child(odd) > div:nth-child(3) {
    width: 49%;
  }
}

main #work .work-body .row:nth-child(even) > div:nth-child(1),
main #work .work-body .row:nth-child(even) > div:nth-child(2) {
  width: 36%;
}

main #work .work-body .row:nth-child(even) > div:nth-child(3) {
  width: 60%;
}

@media (max-width: 768px) {
  main #work .work-body .row:nth-child(even) > div:nth-child(1),
  main #work .work-body .row:nth-child(even) > div:nth-child(2) {
    width: 49%;
  }
  main #work .work-body .row:nth-child(even) > div:nth-child(3) {
    width: 100%;
  }
}

main #contact {
  margin-top: 150px;
}

@media (max-width: 576px) {
  main #contact {
    margin-top: 50px;
  }
}

main #contact #map {
  height: 100%;
}

main #contact .row {
  width: 90%;
}

@media (max-width: 768px) {
  main #contact .row {
    width: 100%;
    flex-direction: column-reverse;
  }
}

main #contact .contact-map {
  padding: 0;
}

main #contact .contact-map .map-container-3 {
  overflow: hidden;
  position: relative;
  height: 100%;
  min-height: 300px;
}

main #contact .contact-map .map-container-3 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  filter: grayscale(1) brightness(0.5);
}

main #contact .contact-form {
  padding: 0;
  background-color: #282828;
  border-right: 5px solid #9ec050;
  padding: 40px 0px;
}

main #contact .contact-form form {
  width: 80%;
}

@media (max-width: 1400px) {
  main #contact .contact-form form {
    width: 90%;
  }
}

main #contact .contact-form form input,
main #contact .contact-form form textarea {
  background-color: transparent;
  border: 1px solid #343434;
  padding: 25px;
}

@media (max-width: 1400px) {
  main #contact .contact-form form input,
  main #contact .contact-form form textarea {
    font-size: 12px;
  }
}

main #contact .contact-form form input:focus,
main #contact .contact-form form textarea:focus {
  outline: none;
  border: 1px solid #9EC050;
}

main #contact .contact-form form input::placeholder,
main #contact .contact-form form textarea::placeholder {
  font-style: italic;
}

main #contact .contact-form form input {
  width: 49%;
  height: 50px;
}

main #contact .contact-form form textarea {
  width: 100%;
  resize: none;
}

main #contact .contact-form form .form-group {
  display: flex;
  justify-content: space-between;
}

main #contact .contact-form form label {
  color: white;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 30px;
}

@media (max-width: 500px) {
  main #contact .contact-form form label {
    font-size: 20px;
  }
}

main #contact .contact-form form .send {
  background-color: #9ec050;
  border-radius: 0;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  padding: 0.4rem 2rem;
}

footer {
  padding: 50px 0;
  color: #585858;
  background-color: #202020;
  margin-top: 100px;
}

@media (max-width: 576px) {
  footer {
    margin-top: 50px;
  }
}

footer .row {
  align-items: center;
  width: 90%;
}

@media (max-width: 992px) {
  footer .row {
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }
}

footer p {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  footer p {
    font-size: 12px;
    margin: 20px;
    text-align: center;
  }
}

@media (max-width: 992px) {
  footer .footer-copy {
    margin-left: 0 !important;
  }
}

footer .btn {
  font-size: 10px;
  background-color: #282828;
  padding: 10px 15px;
  margin-left: 35px;
  border: none;
  border-radius: 0;
  background-color: #282828;
}

@media (max-width: 992px) {
  footer .btn {
    margin-left: 0 !important;
  }
}

footer .btn:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
/*# sourceMappingURL=main.css.map */